namesurname.tar.xz filter=lfs diff=lfs merge=lfs -text
surnamename.tar.xz filter=lfs diff=lfs merge=lfs -text
name_dot_surname.tar.xz filter=lfs diff=lfs merge=lfs -text
surname_dot_name.tar.xz filter=lfs diff=lfs merge=lfs -text
name_dash_surname.tar.xz filter=lfs diff=lfs merge=lfs -text
surname_dash_name.tar.xz filter=lfs diff=lfs merge=lfs -text
name_underscore_surname.tar.xz filter=lfs diff=lfs merge=lfs -text
surname_underscore_name.tar.xz filter=lfs diff=lfs merge=lfs -text
